<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2"></script>

<div class="fb-page" data-href="https://www.facebook.com/peppermintyHQ/" data-tabs="timeline" data-height="550" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/peppermintyHQ/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/peppermintyHQ/">Pepperminty</a></blockquote></div>