<div class='row'>
  <div class="section">
    <div class="col-xs-12 col-sm-12 text-center">
      <h2><%= raw t "contact_cta.#{service}" %></h2><br/>
      <%= button_tag "Let's get started", class: "btn-style hero-btn btn-responsive start" %>
    </div>
  </div>
</div>