<% content_for :title do %>About Us<% end %>
<% content_for :description do %>Pepperminty Marketing is the Digital Marketing and Software Development & Design agency for Start-ups and Small Businesses. We range in services that include website design, Search Engine Optimisation, Paid Search Social Media and more. Contact us today to discuss your business' marketing requirements.<% end %>
<% content_for :keywords do %>Pepperminty Marketing, Digital Marketing, London Marketing Agency, Marketing for Start-ups, Marketing for Small Businesses, Marketing for SMEs, Search Engine Optimistation, SEO, Website Design, Website Development, PPC, Paid Search Marketing, Pay Per Click, AdWords, Bing, Social Media Marketing, internet marketing<% end %>

<div class='bgimg about-bgimg'></div>

<div class="row">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <h2>About Us</h2>
    </div>
    <div class="col-xs-12 text-left">
      <p>Pepperminty Marketing are a small, friendly digital marketing and web development agency London; we offer Website Design, SEO, Paid Search Advertising and Social Media Marketing services throughout the UK. Currently a team of two that strike the balance between 'Tech Geek and 'Creative Nerd' (you can decide who's who when you meet us). </p>
      <p>What makes us different is that we take time to understand challenges your start up and SME faces with sales and marketing, and we will strategize a digital plan which will solve those challenges.  Our advice is based upon a detailed analysis of your business needs and your competitors.</p>
      <p>We have years of experience and specialise in working with start-ups and small sized businesses to optimise their web presence, and our service is both personal and professional.</p>
      <p>We have built long term relationships with our clients and have carried out multiple projects for some of them.  We like to consider ourselves as part of your virtual team and get to know you and your team as much as possible. </p>
    </div>
  </div>
</div>

<div class="row grey">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <h2>Our Aim</h2>
    </div>
    <div class="col-xs-12">
      <p>Our aim is to be there whenever you need us, so that's whether it's at the start, part of, or all of your marketing journey – we can be there to advise or manage the relevant areas for you. We like to be transparent when managing your services, and you will be able to access all tools and applications we use so you can make any updates yourself as and when you need to. </p>
      <p class="margin-bottom-20">Contact us today to find out more on how we can help you and your business.</p>
      <div class="text-center"><%= submit_tag "Contact Us", class: "btn-style start" %></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-50">
      <h2>Our Approach</h2>
    </div>
    <div class="col-xs-12 text-left" style="height:100%">
      <div class="wrapper">
        <div class="bullet-point">Getting to know you and your business - building long term relationships with you is of most importance to us.</div>
        <div class="bullet-point">We listen to your requirements and ensure your needs are met</div>
        <div class="bullet-point">We have an open and honest approach to build trust and rapport with our clients</div>
        <div class="bullet-point">We maintain professionalism, reliability and always on hand to answer any questions big or small</div>
        <div class="bullet-point">Strive for 100% satisfaction with our work </div>
      </div>
    </div>
  </div>
</div>


<%= render partial: "contact_form" %>