<% content_for :title do %>Home<% end %>

<div class='row hero-container'>

  <div class='col-sm-8 col-md-push-1'>
    <div class="row" >
      <div class="col-xs-12 col-sm-8 text-left">
        <h1>Digital marketing solutions <br/> for your small business</h1>
        <h3>Fresh and forward thinking solutions to kick start your business in the marketing arena.</h3>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-xs-12 text-center default-container">
    <h3>Why Us</h3>

    <div class="col-xs-12 text-left text-container">
      <p>We're a London based agency, working together with our clients to bring creative and strategic campaigns suitable for
        you. Every client is refreshingly unique and so working closely with our clients, we can really bring your
        brand personality to life and really engage with those wanting to buy your product or service.</p>
      <p>We offer a bespoke digital marketing service built around your needs, including</p>
    </div>
    <div class="col-md-3 text-center">
      <%= image_tag 'browser.png' %>
      <h4>Website Design & Development</h4>
      <p>Stand out from the crowd, with a creative and bespoke website to pull in your customers</p>
    </div>
    <div class="col-md-3 text-center">
      <%= image_tag 'analysis.png' %>
      <h4>SEO</h4>
      <p>Get the right people to your website with our organic Search Engine Optimisation strategy</p>
    </div>
    <div class="col-md-3 text-center">
      <%= image_tag 'marketing.png' %>
      <h4>Advertising</h4>
      <p>Creative advertising campaigns which brings your business to life</p>
    </div>
    <div class="col-md-3 text-center">
      <%= image_tag 'social-media.png' %>
      <h4>Social Media</h4>
      <p>Let your voice be heard in the massive social media arena</p>
    </div>

  </div>
</div>
