<% content_for :title do %>Privacy Policy<% end %>

<div class='row text-center'>
  <div class="col-md-12">
    <h3>Privacy Policy</h3>
  </div>
</div>

<div class="row default-container">

  <div class="col-md-12 text-left">
    <div class="text-container">
      <p>Let’s chat, perhaps over some peppermint tea (or coffee, you decide)?</p>
    </div>
  </div>

</div>