<% content_for :title do %>Privacy Policy<% end %>

<style>
  .panel-default>.panel-heading {
    color: whitesmoke;
    background-color: #35DEC1;
    border-color: #ddd;
    padding: 15px 15px;
    font-size: 1.5em;
  }
</style>
<div class="container default-container privacy-policy" style="width:99%;">

    <div class="panel panel-default">
      <div class="panel-heading"><h2>Privacy Statement</h2></div>

      <div class="panel-body">
        <div class="row">
        <div class="col-md-12">
        <p class="margin-bottom-50"><span>Version 0.4 Date: 16/10/18</span></p>
        <p>We take your privacy seriously and will only use your personal information to administer your account and to provide the products and services you have requested from us.  We will never sell, share or use your personal information other than as described here.</p>

        <h3>About this privacy policy</h3>
        <p>This policy sets out how we will use and share the information that you give us.  This policy describes your relationship with Pepperminty Marketing. </p>

        <h3>Who are we and how to contact us.</h3>
        <p>Pepperminty Marketing is a marketing, design and software development agency.</p>
        <p>The data controller is: Chantelle Williams, and you can get in touch with us in any of the following ways:</p>
        <p>Email: info@peppermintymarketing.co.uk<br/>
          Website: peppermintymarketing.co.uk</p>

        <h3>How to change your preferences</h3>
        <p>You can visit the Pepperminty Marketing website to contact us to change your preferences at anytime. </p>

        <h3>How we operate.</h3>
        <p>We operate in line with EU GDPR [May 2018] data protection guidelines.  We are committed to maintaining your personal rights and allow all users to change or withdraw their opt-in options at anytime.  We will also advise you on how to complain to the relevant authorities, namely the Information Commissioner’s Office.</p>

        <h3>Who this privacy policy applies to</h3>
        <p>Pepperminty Marketing is a Marketing and Software Development agency.  This policy relates to users of Pepperminty Marketing.  Processing of your data is required in order to offer you these services.  This policy applies to individuals who have registered with Pepperminty Marketing as either a customer, user, administrator or in any other capacity. </p>

        <h3>What this policy applies to</h3>
        <p>This section describes the lawful basis for processing your data and applies to the information about yourself that you choose to provide us with or that you allow us to collect. This includes:</p>

        <h4>As a customer:</h4>
        <p>
          <ul>
            <li>Information you provide during the registration process</li>
            <li>Information you provide when you create campaigns</li>
            <li>Information you provide in the form or number data, messages or meta-data</li>
            <li>Information we collect about how you use the website</li>
            <li>Information relating to purchases and other transactions</li>
            <li>Information given and stored as part of our ongoing relationship</li>
          </ul>
        </p>

        <h3>Scope of Consent</h3>
        <p>By submitting your personal data on this site, you are affirming your explicit consent for such information to be used in accordance with this privacy policy.  You will be able to withdraw that consent at any time by the methods described.</p>

        <h3>Opting out at a later date</h3>
        <p>Once you have given your consent, you can amend or withdraw your consent at anytime.  You can also choose to object to processing at anytime.  We respect all user rights as defined in GDPR.  If you have any comments or wish to complain please visit Pepperminty Marketing or contact us anytime.</p>

        <h3>How we store and process your data.</h3>
        <p>Your account data will be collected stored and processed in the UK only.  Your data will be stored for six years after your last recorded login attempt.  In order to provide updates and offers that may be of interest to you we use recognised third parties to take payment, manage our company accounts and provide banking services.  We will store transactions, payment and order data for up to 7 years or for as long as required by UK financial and company regulations.  These third parties may operate outside the EU.</p>

        <h3>Our obligations</h3>
        <p>We are a data controller.  In relation to the information that you provide to us, we are legally responsible for how that information is handled.</p>
        <p>We will comply with the Data Protection Act 1998 and the GDPR [2018] in the way we use and share your personal data.  Among other things, this means that we will only use your personal data:</p>
          <ul>
            <li>Fairly and lawfully</li>
            <li>As set out in the legislation and this policy</li>
            <li>To the extent necessary for these purposes</li>
          </ul>
        <p>We will process your personal data ourselves as the data processor.  We will take reasonable precautions to safeguard the personal information that you supply.</p>
        <p>Pepperminty Marketing may from time to time use your information for marketing, account management or relationship management purposes.  The main purpose of this is to provide you with information about goods and services which we think may be of interest to you and/or to maintain any existing relationship we may have with you. </p>

        <h3>Third Parties</h3>
        <p>Your data is not shared with any third parties other than as described here.</p>

        <h3>Security</h3>
        <p>We will report any breaches or potential breaches to the appropriate authorities within 24 hours and to anyone affected by a breach within 72 hours.  If you have any queries or concerns about your data usage please contact us.</p>

        <h3>Legitimate Interests</h3>
        <p>Under the Data Protection Act, we are also permitted to share some information with third parties who use such data for non-marketing purposes (including credit and risk assessment and management, identification and fraud prevention, debt collection and returning assets to you).</p>

        <h3>Contacting us, exercising your information rights and Complaints</h3>
        <p>If you any questions or comments about this Privacy Policy, wish to exercise your information rights in connection with the personal data you have shared with us or wish to complain, please contact: The Data Protection Officer at Pepperminty Marketing. We will process SARs within 20 days, SAR responses are usually free but we reserve the right to charge for excessive or unfounded requests. We fully comply with Data Protection legislation and will assist in any investigation or request made by the appropriate authorities.</p>

        </div>
        </div>

      </div>
    </div>

</div>