<% content_for :title do %>Search Engine Optimisation<% end %>

<div class='row seo-bgimg'>

  <div class='col-sm-12'>
    <div class="row">
      <div class="col-xs-12 col-sm-12 text-center">
        <h1 style="font-weight:600;">A result focussed Search Engine Optimisation Strategy<br/> for your business</h1>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 text-center default-container">
    <h3>Search Engine Optimisation</h3>

    <div class="col-xs-12 text-left text-container">
      <p>Search Engine Optimisation (SEO) is the process of improving the visibility of your site in Google’s search results,
        essentially putting your business at the forefront of your target audience – an integral part of your digital marketing strategy. </p>
      <p>There are two main rules of thumb when following an SEO strategy:</p>
      <ol>
        <li><strong>On-Page SEO</strong> This should be considered early on in your &lt;website design and development&gt; hyperlink to page
          as you'll need to build and think about keywords in your headings, friendly URLs, site speed and metatags for
          example (don't worry ...we can go into more discussion about all of this).</li>
        <li><strong>Off-page SEO</strong> This focusses on factors outside of your website, and fundamentally draws on the relevance,
          trust and authority it has for your target audience/customers. Building backlinks from reputable sites is an area
          we'd focus on with you. </li>
      </ol>
      <p>With affordable prices specifically tailored to your needs, we will work with you on analysing your requirements
        and determining exactly what's required.</p>
    </div>

    <div class="col-xs-12 text-left">
      <h3>Our services include:</h3>
      <ul>
        <li>Keyword research backed with search trend analysis</li>
        <li>Full site audits</li>
        <li>Creative content creation</li>
        <li>Outreach</li>
        <li>Full monthly reports detailing successes and actions moving forward and analysis of results</li>
      </ul>
    </div>

    <div class="col-md-12 text-left text-container">
      <div class="col-md-12 text-right"><%= submit_tag 'Get in touch', class: "btn btn-success quote-btn" %></div>
    </div>

  </div>
</div>
