<% content_for :title do %>Search Engine Optimisation<% end %>
<% content_for :description do %>Get to the top of seach engine rankings by developing on-site and off-site Search Engine Optimisation (SEO) for your small business at Affordable rates. <% end %>
<% content_for :keywords do %>Search Engine Optimisation, SEO, SERP, Search Engine Results Page, SEO for Start-ups, SEO for Small Businesses, SEO Marketing, SEO for website<% end %>
<%= javascript_include_tag 'more' %>

<div class='bgimg seo-bgimg'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <span class="more-arrow">
        <h2 class="glyphicon glyphicon-chevron-down"></h2>
      </span>
    </div>
  </div>
</div>

<div class="row more-content">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <h2>Let Search Engines Know Your Website Exists, & Rank High in Search Results</h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <p>You may have spent a lot of time, money and effort in getting the perfect website design, but how do you get your site ranked on search engines like Google and Bing? That's where Search Engine Optimisation (SEO) comes in, by ensuring your content onsite has the  necessary keywords for search engines to pick up it's relevance. Fundamentally, SEO done right will ensure your site brings you the right traffic that helps to increase your brands exposure and higher conversion rates.</p>
      <p>Pepperminty is a great SEO agency that supports businesses of all sizes with targeted search engine optimisation campaigns. Find out more on how we can help you. </p>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h1 class="step-number">01</h1>
        <h2 class="step-heading">Site Audit & Research</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>We'll conduct a thorough full site audit of your current site and rankings to get a general understanding of your performance. Then we'll identify a list of target keywords and their search volume and see which works best for the business. Equally, your competitors and general industry research will be conducted along with analysis of the search engine results pages (SERPs). This will all help to build a solid results driven SEO campaign. </p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>There are visible and hidden elements when it comes to onsite optimisation, the aim is to encourage high click through rates from SERPs using meta data, to robots.txt and schema markups. Additionally local SEO tactics, and ensuring the mobile responsiveness of your site satisfies search bots crawling your pages.</p>
        <p>Tracking the performance of onsite optimisation can be done when setting up Google Analytics, Google Search Console and SEO tracking tools. </p>
        <p>These are some of the core foundations to getting SEO ready.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h1 class="step-number">02</h1>
        <h2 class="step-heading">Onsite Optimisation</h2>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h1 class="step-number">03</h1>
        <h2 class="step-heading">Building Content</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>We've built a list of keywords. and have looked at your onsite SEO. But now, we need to hone in on your content. Whether it's brand new content or making updates to existing information on your services, we'll make sure your content provides real value to searchers that land on your site. With the right keywords, the intent of users to your site fundamentally can lead to conversions. With voice search becoming increasingly popular, we'll also focus on long-tail keywords (or specific phrases) that your visitors are likely to use when close to purchasing your product or service.</p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>You've heard of the phrase 'Content is King', but in SEO world, 'Links are King' or some may say Gold! Links help search engines find your site, plus crawl and index it. The frequency of indexing your site will improve with good quality links which will provide more people to your site. We will work on your site to find lots of different ways of incorporating links, through content and we'll ensure these aren't random, but adding value to the users of your site. Additionally we'll look at backlinks for your site which means external opportunities where we can list your website links. </p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h1 class="step-number">04</h1>
        <h2 class="step-heading">Link Building</h2>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h1 class="step-number">05</h1>
        <h2 class="step-heading">Data & Reporting</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>Throughout the SEO campaign journey, we'll ensure we keep an eye on engagement levels, search data, keyword rankings and traffic volume to your site. From the beginning we'll look at data across Google Analytics, Search Console and SEMRush to track and report on the SEO performance.</p>
        <p>In addition, we'll provider regular performance reports to demonstrate the success of your SEO campaign. </p>
      </div>
    </div>

  </div>
</div>

<div class='seo-show'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <h1>Pepperminty is a SEO agency looking to improve search engine rankings for small businesses.</h1><br/>
      <h1>We'd love to hear from you if you're ready to kickstart your SEO journey!</h1>
    </div>
  </div>
</div>

<%= render partial: "additional_services", locals: {service: @service} %>

<%= render partial: "contact_form" %>