<% content_for :title do %>Search Engine Optimisation<% end %>
<% content_for :description do %>Get to the top of seach engine rankings by developing on-site and off-site Search Engine Optimisation (SEO) for your small business at Affordable rates. <% end %>
<% content_for :keywords do %>Search Engine Optimisation, SEO, SERP, Search Engine Results Page, SEO for Start-ups, SEO for Small Businesses, SEO Marketing, SEO for website<% end %>
<%= javascript_include_tag 'more' %>

<div class='bgimg seo-bgimg'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <span class="more-arrow">
        <h2 class="glyphicon glyphicon-chevron-down"></h2>
      </span>
    </div>
  </div>
</div>

<div class="row more-content">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <h2>Web Designs for people to engage with your brand</h2>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <p>The aim of all of our designs is to create a compelling brand that  drives engagement, increase conversions, and gains new customers that will ultimately lead to profits for your business. </p>
      <p>Whether you want a brochure design, or e-commerce site, let us help you set up and manage a beautifully branded website suitable for any devices whether desktop, laptop, tablet or smart phone. </p>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h1 class="step-number">01</h1>
        <h2 class="step-heading">Consultation</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>If you want to redesign an existing website, or create a brand new site, we will help bring your vision to life. Your initial consultation with us will be an opportunity for you to tell us your website goals, as well telling us all about your brand so it's visually appealing and recognisable to your users.</p>
        <p>We'll discuss competitor & industry research, as well as what website platforms could work well for your business and overall objectives.</p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>Following on from our detailed consultation, we'll get our creative juices flowing and begin the exciting design process. We'll start off with the homepage and work our way through the rest of the site ensuring brand consistency with imagery, typeface, and graphics.</p>
        <p>All designs our thought-out with mobile in mind as standard, and whether you're on a desktop or smartphone, we'll make sure your design translates onto all devices seamlessly.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h1 class="step-number">02</h1>
        <h2 class="step-heading">Design</h2>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h1 class="step-number">03</h1>
        <h2 class="step-heading">Development</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>Every good design, needs even better coding and development to ensure your design and content is robust (...enter Pepperminty Tech Geek). We want to make sure your website is not only visually stunning, but is also optimised for search engine robot crawlers (a little SEO jargon for you).</p>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>Take a look at your website in all it's glory before it's launched and review the full design, features and functionality. We'll be in regular contact with you providing updates throughout the process, but this will be your final check ahead of signing off on your site.</p>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h1 class="step-number">04</h1>
        <h2 class="step-heading">Review</h2>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-bottom-50">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h1 class="step-number">05</h1>
        <h2 class="step-heading">Launch</h2>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <p>It's time for your website to go live! We'll make sure your domain settings have been adjusted and all other technical processes are handled, so you can focus on promoting your new digital asset.
          Don't worry, we won't love and leave you at this point, we can and will be on call for management of your site, or can provide training on how to manage and use your site too.</p>
      </div>
    </div>

  </div>
</div>

<div class='seo-show'>
  <div class="row">
    <div class="col-xs-12 col-sm-12 text-center">
      <h1>Pepperminty is a SEO agency looking to improve search engine rankings for small businesses.</h1><br/><br/>
      <h1>We'd love to hear from you if you're ready to kickstart your SEO journey!</h1>
    </div>
  </div>
</div>

<%= render partial: "contact_form" %>

<%= render partial: "additional_services", locals: {service: @service} %>