<% content_for :title do %>Services<% end %>

<div class='row text-center'>
  <h1>Services</h1>
</div>

<div class='row services-container'>
</div>

<div class="row alt-content-container responsive-content-container">
  <div class="col-md-6 text-left" style="padding:15px;">
    <h3>Website Design & Development</h3>
    <p>When it comes to developing websites, we want to ensure your site gets the right level of engagement, but most importantly
      repeat traffic to drive sales of your product or service.</p>

    <p>Of course, it has to look aesthetically pleasing to the eye, but it’s the backend ‘techy’ stuff which we also manage in a
      seamless way.</p>

    <p>There are thousands of websites out there, perhaps doing similar to what you’re doing, but we’ll help your site stand out from
      the crowd, and have the best user journey experience throughout. Of course we’ll optimise your site so it works well both on
      mobile and desktop devices too!</p>

    <p>During our consultation, we’ll talk through your different hosting options that our developer can work on.</p>
  </div>
  <div class="col-md-6 text-center auto-margin">
    <div>
      <img src="/assets/dev-banner.jpg" alt="Development">
    </div>
  </div>
</div><hr/>

<div class="row alt-content-container responsive-content-container">
  <div class="col-md-6 text-center auto-margin">
    <div>
      <img src="/assets/seo-banner.jpg" alt="SEO">
    </div>
  </div>
  <div class="col-md-6 text-left" style="padding:15px;">
    <h3>SEO</h3>
    <p>Your website is your online shop front, but how are you stacking against searches compared with your competition?
      Did you know that 85% of businesses are found using search engines?</p>

    <p>We will support your business to get to the top of search ranking and drive high value traffic to your site,
      without the large advertising spend. Our key performances indicators will focus on conversion rates, ranking placement,
      and lead generation.</p>
  </div>
</div><hr/>

<div class="row alt-content-container responsive-content-container">
  <div class="col-md-6 text-left" style="padding:15px;">
    <h3>Advertising</h3>
    <p>Pay-Per-Click (PPC) is one of the most popular forms of advertising online. On the more popular search engines your advert
      is displayed in various places including the top, sides or display banners – you only pay when someone clicks on these ads.</p>

    <p>Accelerate your business today with effective, quality results at a very reasonable cost.</p>
  </div>
  <div class="col-md-6 text-center auto-margin">
    <div>
      <img src="/assets/ad-banner.jpg" alt="Advertising">
    </div>
  </div>
</div><hr/>

<div class="row alt-content-container responsive-content-container">
  <div class="col-md-6 text-center auto-margin">
    <div>
      <img src="/assets/social-banner.jpg" alt="Social Media">
    </div>
  </div>
  <div class="col-md-6 text-left" style="padding:15px;">
    <h3>Social Media</h3>
    <p>There are currently 330 million Twitter users, and over 2 billion active monthly users on Facebook (of which 1.34 billion
      use on mobile), social media is definitely an area your business should utilise.</p>

    <p>Let’s face it, there’s a lot to compete against, but done using the right techniques, we could work with you to
      get your brand out there on the right channels to drive engagement. Your brand personality can take the limelight here,
      and in front of the right followers the world literally is your oyster.</p>

    <p>We can support you with basic set-up of social channels, to running fully integrated campaigns – contact us today
      to see what we can do with you.</p>
    </p>
  </div>
</div><hr/>
