<% content_for :title do %>Services<% end %>

<div class='row text-left'>
  <div class="col-md-12">
    <h1>Our Services</h1>
  </div>
</div>

<hr class="line-color"/>

<div class="row">
  <div class="col-md-6 text-left" style="padding:15px;">
    <div class="vertical-line"><h3 class="side-heading">Website Design & Development</h3></div>
    <p>When it comes to developing websites, we want to ensure your site gets the right level of engagement, but most importantly
      repeat traffic to drive sales of your product or service.</p>

    <p>Of course, it has to look aesthetically pleasing to the eye, but it’s the backend ‘techy’ stuff which we also manage in a
      seamless way.</p>

    <p>There are thousands of websites out there, perhaps doing similar to what you’re doing, but we’ll help your site stand out from
      the crowd, and have the best user journey experience throughout. Of course we’ll optimise your site so it works well both on
      mobile and desktop devices too!</p>

    <p>During our consultation, we’ll talk through your different hosting options that our developer can work on.</p>
  </div>
  <div class="col-md-6 text-center auto-margin">
    <div>
      <img src="/assets/dev-banner.jpg" alt="Development">
    </div>
  </div>
</div><hr/>

<div class="row">
  <div class="col-md-6 text-center auto-margin">
    <div>
      <img src="/assets/seo-banner.jpg" alt="SEO">
    </div>
  </div>
  <div class="col-md-6 text-left" style="padding:15px;">
    <div class="vertical-line"><h3 class="side-heading">SEO</h3></div>
    <p>Your website is your online shop front, but how are you stacking against searches compared with your competition?
      Did you know that 85% of businesses are found using search engines?</p>

    <p>We will support your business to get to the top of search ranking and drive high value traffic to your site,
      without the large advertising spend. Our key performances indicators will focus on conversion rates, ranking placement,
      and lead generation.</p>
  </div>
</div><hr/>

<div class="row">
  <div class="col-md-6 text-left" style="padding:15px;">
    <div class="vertical-line"><h3 class="side-heading">Advertising</h3></div>
    <p>Pay-Per-Click (PPC) is one of the most popular forms of advertising online. On the more popular search engines your advert
      is displayed in various places including the top, sides or display banners – you only pay when someone clicks on these ads.</p>

    <p>Accelerate your business today with effective, quality results at a very reasonable cost.</p>
  </div>
  <div class="col-md-6 text-center auto-margin">
    <div>
      <img src="/assets/ad-banner.jpg" alt="Advertising">
    </div>
  </div>
  <div class="row">

    <div class="col-xs-12 text-center" style="padding:30px 10px;">
      <div class="col-md-3 text-center">
        <%= image_tag 'adwords.png' %>
        <h4>Google AdWords</h4>
        <p>Our expertise in this area is second to none, and we’ll spend time finding the right formula for your business</p>
      </div>
      <div class="col-md-3 text-center">
        <%= image_tag 'bing.png' %>
        <h4>Bing Ads</h4>
        <p>Make the most of Bing’s popular search engine with expertly placed ads</p>
      </div>
      <div class="col-md-3 text-center">
        <%= image_tag 'ads.png' %>
        <h4>Display Advertising</h4>
        <p>Your display ads will be targeting an audience that has already indicated an interest in your service or product</p>
      </div>
      <div class="col-md-3 text-center">
        <%= image_tag 'sway.png' %>
        <h4>Remarketing</h4>
        <p>Improve ROI and increase conversions by marketing to people who have all ready visited your website</p>
      </div>
    </div>

  </div>

</div>
<hr/>

<div class="row">
  <div class="col-md-6 text-center auto-margin">
    <div>
      <img src="/assets/social-banner.jpg" alt="Social Media">
    </div>
  </div>
  <div class="col-md-6 text-left" style="padding:15px;">
    <div class="vertical-line"><h3 class="side-heading">Social Media</h3></div>
    <p>There are currently 330 million Twitter users, and over 2 billion active monthly users on Facebook (of which 1.34 billion
      use on mobile), social media is definitely an area your business should utilise.</p>

    <p>Let’s face it, there’s a lot to compete against, but done using the right techniques, we could work with you to
      get your brand out there on the right channels to drive engagement. Your brand personality can take the limelight here,
      and in front of the right followers the world literally is your oyster.</p>

    <p>We can support you with basic set-up of social channels, to running fully integrated campaigns – contact us today
      to see what we can do with you.</p>
    </p>
  </div>
</div><hr/>
