<% content_for :title do %>Search Engine Optimisation<% end %>

<div class='bgimg social-bgimg'>
  <div class='col-sm-8 col-md-push-1'>
    <div class="row">
      <div class="col-xs-12 col-sm-8 text-left bgimg-content">
        <h1 style="font-weight:600;">Grow your<br/> business using<br/> Social Media<br/> Marketing</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="section">
    <div class="col-xs-12 text-center margin-bottom-20">
      <h2>Social Media</h2>
    </div>
    <div class="col-xs-12 text-left">
      <p>Social media has dramatically changed the way that brands engage with their customers and vice versa. Social media
        plays an integral role to a businesses' digital marketing strategy, whether you're looking to build brand awareness,
        send quality website traffic, generate new leads or drive sales. </p>
      <p>You can have real fun engaging with your customer's on social media, it's your chance to show who you really are
        and bring forward your flare and personality in a professional way. We'll work with you to develop your brand tone
        of voice, create and deliver content calendars on trending posts or new product messaging. </p>
      <p>Checking out what your competitors are up to is also really important for you to gauge what does and doesn't work
        well with customers and give you an understanding of how to make a difference in the competitive landscape on social media. </p>
    </div>
  </div>
</div>


<div class="row">
  <div class="section grey" style="width:100%;">
    <div class="col-xs-12 text-center margin-bottom-50">
      <h2>Our services include: </h2>
    </div>
    <div class="col-xs-6 text-right">
      <%= image_tag 'website-image.png', class: 'border-img-1' %>
    </div>
    <div class="col-xs-6 text-left" style="height:100%">
      <div class="wrapper right-text">
        <div class="bullet-point">Social media audit</div>
        <div class="bullet-point">Competitor analysis</div>
        <div class="bullet-point">Brand tone of voice</div>
        <div class="bullet-point">Content schedule</div>
        <div class="bullet-point">PPC</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="section" style="width:100%;">
    <div class="col-xs-12 text-center margin-bottom-50">
      <h2>Project timescales </h2>
    </div>

    <div class="col-xs-6 text-right">
      <div class="wrapper left-text">
        <div class="bullet-point">Facebook</div>
        <div class="bullet-point">Twitter</div>
        <div class="bullet-point">LinkedIn</div>
        <div class="bullet-point">Instagram</div><br/>
        <div class="col-md-12"><%= submit_tag 'Get in touch', class: "btn btn-success quote-btn" %></div>
      </div>
    </div>
    <div class="col-xs-6">
      <%= image_tag 'timeline.png', class: 'border-img' %>
    </div>

  </div>
</div>

<div class="row grey">
  <div class="section" style="width:100%;">
    <div class="col-md-12 text-center margin-bottom-50">
      <h2>Additional Services</h2>
    </div>

    <%= render partial: "page_links", locals: {service: @service} %>
  </div>
</div>
