<% content_for :title do %>Website Design & Development<% end %>

<div class='row website-bgimg'>

  <div class='col-sm-8 col-md-push-1'>
    <div class="row">
      <div class="col-xs-12 col-sm-8 text-left">
        <h1 style="font-weight:600;">Professional,<br/> engaging &<br/> beautiful websites</h1>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12 text-center default-container">
    <h3>Website Design & Development</h3>

    <div class="col-md-12 text-left">
      <p>We specialise in the design and development of websites for start-ups and small businesses.</p>
      <p>Getting your website right is critical for your business - it not only lets customers know who you are as a brand,
        it also can get you repeat visitors and most importantly for you make you some sales! Whether it's brochure design,
        or e-commerce, let us help you set up and manage a beautifully branded website using the latest technology (HTML5, CSS3).</p>
    </div>
    <div class="col-md-12 text-left text-container">
      <h4><strong>We offer affordability, and you can get your website from as little as £149</strong></h4>
      <div class="col-md-12 text-right"><%= submit_tag 'Get a quote', class: "btn btn-success quote-btn" %></div>
    </div>

    <div class="col-md-12 text-left text-container">
      <h3>Our website services include:</h3>
      <ul>
        <li>WordPress platform</li>
        <li>Bespoke design</li>
        <li>Mobile optimised</li>
        <li>Secure web (SSL Certification)</li>
        <li>Back end development</li>
        <li>Training & support</li>
      </ul>
    </div>

    <div class="col-md-12 text-left">
      <h3>Project timescales</h3>
      <p>We'll keep you in the loop every step of the way with your website, and with an 8-week turnaround,
        here are the steps to get your business set up online:</p>
    </div>
    <div class="col-md-12 text-center text-container">
      <%= image_tag 'timeline.png', class: 'border-img' %>
    </div>

    <div class="col-md-12 text-right text-container">
      <%= submit_tag 'Get a quote', class: "btn btn-success quote-btn" %>
    </div>

    <div class="col-md-12 text-left text-container">
      <p>Checkout our supporting services that will ensure you're ranked high on search engines such as Google.</p>
    </div>

    <%= render partial: "page_links" %>

  </div>
</div>
