<% content_for :title do %>Internal Server Error<% end %>

<div class="row">
  <div class="section sub-container">
    <div class="col-xs-12 text-center">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <%= image_tag '500.png', style: "width:30%;" %>
        <h1 class="error-heading">500</h1>
        <h2 class="margin-bottom-20 error-text">Oops, We're sorry, but something went wrong.</h2>
        <p class="margin-bottom-20">If you are the application owner check the logs for more information.</p>
        <p>For any other help contact support via <a href='mailto:info@pepperminty.co.uk' class="error-link">Email</a></p>
      </div>

    </div>

  </div>
</div>