<% content_for :title do %>Page not found<% end %>

<div class="row">
  <div class="section contact">
    <div class="col-xs-12 text-center margin-bottom-20">

      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 text-center">
        <h2>Oops, Page Not Found!</h2>
        <p>The page you requested could not be found, either contact your Web master, to try again use your browsers <b>Back</b>
          button to navigate to the page you have previously come from</p>
        <p>For any other help contact support via <a href='mailto:%{email}'>Email</a></p>
      </div>

    </div>

  </div>
</div>

<div>
  <%= render partial: "contact_form" %>
</div>