<% content_for :title do %>Page not found<% end %>

<div class="row">
  <div class="section contact">
    <div class="col-xs-12 text-center margin-bottom-20">

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <%= image_tag '404.png', class: 'img-border' %>
        <h1 class="error-heading">404</h1>
        <h2 class="margin-bottom-20 error-text">Oops, Page Not Found!</h2>
        <p class="margin-bottom-20">The page you requested could not be found. Either contact your web master, or
          <%= link_to 'Go Back', 'javascript:history.back()', class:"error-link" %> to the page you have previously come from.</p>
        <p>For any other help contact support via <a href='mailto:info@pepperminty.co.uk' class="error-link">Email</a></p>
      </div>

    </div>

  </div>
</div>