$primary-color: #6eecb8;//#60a806;
$secondary-color: #ec796e;//#A87D0F;
$alt-primary-color: #137E2C;
$alt-secondary-color: #E4611D;
$hero-primary-color: whitesmoke;
$primary-backgound-color: #66CB97;
$primary-backgound-hover: #69D29E;