/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import 'variables';

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body{
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #cccccc;
  text-shadow: none;
}

::selection {
  background: #cccccc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
.hr-green{
  display: block;
  height: 1px;
  border: 0;
  border-top: 4px solid #6eecb8;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* nav bar */
.navbar-nav .nav-link {
  display: block;
  padding: 3px 15px;
  clear: both;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
}

/* home page */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 20px 0px 20px;
  color: $footer-text-color;
  background-color: #686969;
  text-align: center;
  font-size: 0.9em;
}
.header {
  height: 30px;
}
p {
  //text-align: justify;
  line-height: 1.5em;
  font-weight: normal;
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}
.sub-container p{
  text-align: center;
}
li{
  font-weight: normal;
  font-size: 1.1em;
}

.hero-bgimg{
  font-family: "PT Sans";
  display: table;
  width: 100vw;
  height: 95vh;
  background: linear-gradient(rgba(84, 84, 84, 0.5), rgba(84, 84, 84, 0.5)), url(/assets/hero.jpg);
  background-size: cover;
  background-position: center center;
  color: $hero-primary-color;
  h1{ font-weight: 1000; font-size: 3vw; width:50%; margin-left:auto; margin-right:auto;line-height:inherit;margin-bottom:10vw;}
}
@media (max-width: 768px){
  .hero-bgimg{
    h1{font-size: 4vw;}
    height: inherit;
  }
}
.home-show{
  padding-top: 25vh;
  background: linear-gradient(rgba(110, 236, 184, 0.7), rgba(110, 236, 184, 0.7)), url(/assets/home3.jpg);
  background-size: cover;
  background-position: center center;
  h1{ width: 50%; font-size:5vw;}
}
.website-show{
  //padding-top: 15vh;
  background: linear-gradient(rgba(110, 236, 184, 0.7), rgba(110, 236, 184, 0.7)), url(/assets/website3.png);
  background-size: cover;
  background-position: center center;
  h1{ width: 40%; font-size:3vw;}
}

.seo-show{
  //padding-top: 5vh;
  background: linear-gradient(rgba(110, 236, 184, 0.7), rgba(110, 236, 184, 0.7)), url(/assets/seo3.jpg);
  background-size: cover;
  background-position: center center;
  h1{ width: 44%; font-size:3vw;}
}

.paid-search-show{
  //padding-top: 10vh;
  background: url(/assets/ppc1.png);
  background-size: cover;
  background-position: center center;
  h1{ width: 64%; font-size:3vw;}
}

.social-show{
  //padding-top: 13vh;
  background: linear-gradient(rgba(110, 236, 184, 0.7), rgba(110, 236, 184, 0.7)), url(/assets/social2.png);
  background-size: cover;
  background-position: center center;
  h1{ width: 58%; font-size:3vw;}
}
.show-bgimg{
  margin-left: -15px;
  margin-right: -15px;
  font-family: "PT Sans";
  display: table;
  width: 100vw;
  height: 95vh;
  h1{ margin-left:auto; margin-right:auto;font-weight: 1000;line-height:inherit;}
}
@media (max-width: 768px){
  .home-show {
    padding-bottom: 30vh;
  }
  .show-bgimg{
    height:40vh;
  }
}
.service-bg{
  padding-top: 10%;
  width: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  h2{ color:#ffffff;width: 66%; font-size: 3vw; line-height: inherit; }
  p{ color:#ffffff;width: 70%; text-align: center; font-size: 2vw; }
}
.extra-line{
  display:none;
}
@media (max-width: 768px){
  .service-bg {
    padding-top: 23%;
  }
  .extra-line{
    display:block;
  }
}

.website-bg{  background-color: #092845;  }
.seo-bg{  background-color: #3B1989;  }
.paid-search-bg{  background-color: #385D34;  }
.social-bg{  background-color: #FD9055;  }

.bgimg{
  padding-top: 18%;
  padding-bottom: 24%;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 46px;
}

.bgimg1{
  padding-top: 18%;
  padding-bottom: 26%;
}

.website-bgimg{
  background: url(/assets/banner-website.png) no-repeat;
  background-size: contain;
}

.seo-bgimg{
  background: url(/assets/banner-seo.png) no-repeat;
  background-size: contain;
}

.paid-search-bgimg{
  background: url(/assets/banner-paid-search.png) no-repeat;
  background-size: contain;
}

.social-bgimg{
  background: url(/assets/banner-social.png) no-repeat;
  background-size: contain;
}

.about-bgimg{
  background: url(/assets/banner-about.jpg) no-repeat;
  background-size: cover;
}

.default-container{
  padding: 40px 0px;
}
.text-container{
  padding-bottom: 30px;
}
.sub-container{
  padding:30px 0px;
}
.auto-margin{
  margin-top: auto;
  margin-bottom: auto;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.50rem + 9px);
}
.img-border {
  border-radius: 12px;
}
/* page links */
.section {
  padding: 100px 20px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .section{padding: 60px 10px 30px 10px;}
}
.section h3{
  color: #303030;
}
.section-footer {
  padding: 30px 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.section-footer-strap{
  padding: 10px;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.grey{
  background-color: #f2f2f2;
}
.green{
  background-color: $primary-backgound-color;
  color: white;
}
.bullet-point-base{
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 33px;
  background-image: url(checkmark.png);
  background-position: 0 4px;
  background-size: 22px;
  background-repeat: no-repeat;
  font-weight: 500;
  line-height: 25px;
}
.bullet-point {
  @extend .bullet-point-base;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 25px;
}
.bullet-point-small {
  @extend .bullet-point-base;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 22px;
}
.bullet-point-medium{
  @extend .bullet-point-base;
  margin-top: 3px;
  margin-bottom: 2px;
  font-size: 25px;
}
.margin-bottom-100{
  margin-bottom: 100px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}
.margin-bottom-50{
  margin-bottom: 50px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}

.left-text{
  //margin-left: 13%;
  //text-align: left;
  //float: right;
  p{
    font-size: 22px;
    font-weight: 500;
  }
}
.right-text{
  width: 87%;
  text-align: left;
  float: left;
  p{
    font-size: 22px;
    font-weight: 500;
  }
}
.wrapper{
  display: flex;
  justify-content: left;
  flex-direction: column;
  text-align: left;
}
.footer-heading{
  color: $primary-color;
}
.margin-top-bottom-20{
  margin: 20px 0px;
}
.fa {
  padding: 14px;
  font-size: 30px;
  width: 43px;
  height: 43px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background: $footer-text-color;
  color: white;
}
.fa:hover, .fa:active {
  color: white;
  text-decoration: none;
  background: $secondary-color;
}
.fa:visited{
  color: white;
  text-decoration: none;
  background: $footer-text-color;
}
.mail-icon{
  color: $secondary-color;
}
.navbar-default{
  background-color: white !important;
}
.navbar-brand{
  font-size: 16px !important;
}
.btn-style{
  display: inline-block;
  padding: 16px 28px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(110,236,184,0.8);
  border: 1px solid $primary-color;
  border-radius: 16px;
}
.btn-style:hover, .btn-style:focus, .btn-style:active{
  background-color: rgba(110,236,184,1);
}
.btn-style-alt{
  display: inline-block;
  padding: 8px 14px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
  color: white;
  background-color: $secondary-color;
}
.btn-style-alt:hover, .btn-style-alt:focus, .btn-style-alt:active{
  background-color: rgba(255, 115, 142, 0.9);//#E76E7B;
  color: white;
  text-decoration: none;
}
.page-link{
  //border: 5px solid $hero-primary-color;
  color: $tertiary-color;
  background-color: rgba(110, 236, 184, 0.8);
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  /*width: 90%;*/
  height: 200px;
}
.page-link:hover{
  //border: 5px solid $hero-primary-color;
  color: $tertiary-color;
  background-color: rgba(110, 236, 184, 1);
}
.additional-services a:hover, .additional-services a:active{
  text-decoration: none;
}
.additional-services .col{
  margin-top: 10px;
}
.more{
  position: absolute;
  cursor: pointer;
  margin-left: -1%;
  color: $hero-primary-color;
  transition: margin-top 0.3s;
}
.more-home-arrow{
  @extend .more;
  margin-top: 8%;
}
.more-home-arrow:hover{ margin-top: 8.5%; }
.more-arrow{
  @extend .more;
  margin-top: 17%;
}
.more-arrow:hover{ margin-top: 17.5%; }

@media screen and (max-width: 768px) {
  .more-arrow{
    position: absolute;
    cursor: pointer;
    margin-left: -3%;
    color: $hero-primary-color;
    transition: margin-top 0.3s;
    margin-top: 13%;
  }
  .more-arrow:hover{ margin-top: 13.5%; }
}
.footer-heading{
  color: $footer-heading-color;
  font-size: 0.80em;
}
.footer-text{
  color: $footer-text-color;
  font-size: 0.80em;
}
.footer-icon{
  background-color: $footer-text-color;
  text-decoration: none;
}
.footer-icon:hover{
  background-color: $secondary-color;
  text-decoration: none;
}
.links a{
  color: $footer-text-color;
  font-size: 0.80em;
  text-decoration: none;
}
.links a:hover{
  color: $secondary-color;
  text-decoration: none;
}
.footer-link{
  color: $footer-text-color;
  text-decoration: none;
}
.footer-link:hover{
  color: $secondary-color;
  text-decoration: none;
}
.error-link{
  color: $secondary-color;
  text-decoration: none;
}
.error-link:hover{
  color: #333333;
  text-decoration: none;
}
.privacy-policy h3{
  color: $primary-color;
}
.justify{
  text-align: justify;
}
.section-heading{
  background-color: #6eecb8;
  padding: 15px;
  color: #ffffff;
  font-size: 24px;
}
.section-heading-alt{
  border-bottom: 3px solid $primary-color;
  padding: 15px;
  color: #333333;
  font-size: 24px;
}
.block-alt{
  border-right:5px solid $secondary-color;
  height: 330px;
}
@media screen and (min-width: 992px) and (max-width: 1286px) {
  .block-alt{
    border-right:5px solid $secondary-color;
  }
}
@media screen and (max-width: 992px) {
  .block-alt{
    border-bottom:3px solid $secondary-color;
    margin-bottom: 5px;
    border-right:none;
  }
}
.contact-bg{
  background:url(/assets/contact-us.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: $hero-primary-color;
}
.contactus-bg{
  //background:url(/assets/contact-us.jpg) no-repeat center center;
  background: linear-gradient(rgba(84, 84, 84, 0.7), rgba(84, 84, 84, 0.7)), url(/assets/contact-us.png) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $hero-primary-color;
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  .contact-bg{
    background-size: cover;
    background-attachment:scroll;
  }
}

.secondary-color, .secondary-color:hover, .secondary-color:visited{
  color: $secondary-color;
}
.primary-color{
  color: $primary-color;
}
.control-link, .control-link:hover, .control-link:visited{
  color: #888888;
  font-size: 0.9em;
}
.vertical-align-wrap{
  display: flex;
  //justify-content: center;
}
.vertical-align-content{
  align-self: center;
}
/* Menu Animation */
.nav-item a{
  font-size: 17px;
}
.navbar-nav>li>.dropdown-menu{
  background-color: #f5f5f5;
}
.dropdown-menu .nav-item a{
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-item{
  transition: transform 0.5s;
}
.nav-item:hover {
  transform: translate(0px, 6px);
}
/* Menu Animation Ends */
.package-container{
  border-left: 1px solid lightgray;
}
.packages .row{
  height: 50px;
  padding-top: 15px;
  //padding-bottom: 15px;
}
.package-container .row{
  text-align: center;
}
.clear{
  clear: both;
}
.contact p{
  text-align: center;
}
.underline{
  border-top: 4px solid $primary-color;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.a-btn, .a-btn:hover, .a-btn:visited, a-btn:active{
  color: #ffffff;//#333;
  text-decoration: none;
}
.hero-btn, .hero-btn:hover, .hero-btn:visited, hero-btn:active{
  color: #ffffff;
  text-decoration: none;
}
.float-right{
  float: right;
}
.card{
  padding: 5px;
}
.panel-group {
  margin-bottom: 0px;
}
.panel-title {
  padding: 15px 15px;
}
@media screen and (min-width: 768px) and (max-width: 1286px) {
  .package-container h3{
    font-size: 17px;
  }
  .package-container h4{
    font-size: 15px;
  }
}
.error-text{
  color: $footer-text-color;
}
.error-heading{
  font-size: 7em;
}
/* blog styles */
.blog-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 50px;
}
/*.blog-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/
.blog-container {
  padding: 10px 16px;
}
.width-100-percent{
  width:100%;
}
.file-btn{
  padding: 10px;
  height: 46px;
}
.padding-right-10{
  padding-right: 10px;
}
.padding-top-10{
  padding-top: 10px;
}
.padding-top-50{
  padding-top: 50px;
}
/* pagination */
.pagination span, .pagination em, .pagination a{
  border: 1px solid #dddddd;
  padding: 5px 10px;
  border-radius: 4px;
}
.pagination span{
  color: #777777;
}
.pagination em{
  color: #337ab7;
  font-style: normal;
  background-color: #eeeeee;
}
.pagination a:hover, .pagination a:visited, .pagination a:active{
  background-color: #eeeeee;
  text-decoration: none;
}
.head-text, .head-a, .head-a:hover, .head-a:active{
  margin-right: 5px;
  color: #ffffff;
  text-decoration: none;
  font-family: "PT Sans";
  font-size: 1.3vw;
}
@media (max-width: 768px) {
  .head-text, .head-a, .head-a:hover, .head-a:active{
    font-size: 3vw;
    color: #ffffff;
  }
}
.head-container{
  background-color: #6eecb8;
  padding: 20px 10px 5px 10px;
  color: white;
  text-align: right;
  margin: -10px -10px 0px -10px;
}
.margin-right-10{
  margin-right: 38px;
}
.text-block{
  background-color: #6eecb8;
  padding: 25px 30px;
  //height: 320px;
  border-radius: 5px;
  margin-bottom: 50px;
  color: #ffffff;
  p{
    color: #ffffff;
  }
}
@media screen and (min-width: 1286px) and (max-width: 1920px){
  .text-block{
    padding: 25px 30px;
    height: 44vh;//24vw;//340px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1286px){
  .text-block{
    padding: 25px 30px;
    height: 400px;//48vw;//53vh;
  }
}
@media (max-width: 768px) {
  .text-block{
    height: 10%;//60vh;//110vw;
  }
}
.step-number{
  color: rgba(110, 236, 184, 0.5);
  font-size: 70px;
}
.step-heading{
  margin-top:-38px;
  margin-left:15px;
}
@media screen and (min-width: 600px) and (max-width: 768px) {
  .step-heading{ font-size:1.3vw; }
}
@media screen and (max-width: 600px) {
  .step-heading{ font-size:2.5vw; }
}
@media screen and (min-width: 768px) and (max-width: 1286px) {
  .step-heading{ font-size:2.5vw; }
}
.service-block{
  background-color: $tertiary-color;
  color: #ffffff;
  text-align: center;
  padding:20px;
  font-size: larger;
  height:54vh;//320px;
  h3{color:$primary-color;}
}
@media screen and (max-width: 992px) {
  .service-block{
    height: 10%;//45vh;
  }
}
.service-block-alt{
  background-color: $tertiary-color;
  color: #ffffff;
  text-align: center;
  padding:20px;
  font-size: larger;
  height:38vh;//320px;
  h3{color:$primary-color;}
}
@media screen and (max-width: 768px) {
  .service-block-alt{
    height: 15%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1286px) {
  .service-block-alt{
    height: 38vh;
  }
}
.service-img{
  margin-top: -100px;
}
@media screen and (min-width: 768px) and (max-width: 1286px) {
  .service-img{
    width: 20vw;
  }
}
@media screen and (max-width: 768px) {
  .service-img{
    width: 25vw;
  }
}
.inherit-line-height {
  line-height: inherit !important;
}
.block-bg{
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  text-align: center;
  padding:30px;
  font-size: larger;
  height:60vh;
  //width:35vw;
  border: 8px solid $primary-color;
  h3{color:#ffffff;}
  p{line-height: inherit;color:#ffffff; width:94%;}
}
@media screen and (max-width: 480px) { //768
  .block-bg{
    height:10%;//70vh;
    //width:80vw;
    margin-left:auto;
    margin-right:auto;
    p{width:100%;}
  }
  #spacing{ display:none; }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  #spacing{ display:block; }
  .block-bg{
    //width:65vw;
    height:55vh;
    p{width:100%;}
  }
}
@media screen and (min-width: 768px) and (max-width: 1286px) {
  #spacing{ display:block; }
  .block-bg{
    height:60vh;
  }
}
@media screen and (min-width: 1286px) and (max-width: 1920px) {
  #spacing{ display:block; }
  .block-bg{
    height:55vh;
  }
}
@media screen and (orientation:landscape){
  /*.block-bg{
    height:100vh;
  }*/
}
.website-block-bg{
  background: linear-gradient(rgba(9, 40, 69, 0.7), rgba(9, 40, 69, 0.7)), url(/assets/service1.jpg);
}
.seo-block-bg{
  background: linear-gradient(rgba(59, 25, 137, 0.7), rgba(59, 25, 137, 0.7)), url(/assets/service2.jpg);
}
.ppc-block-bg{
  background: linear-gradient(rgba(56, 93, 52, 0.7), rgba(56, 93, 52, 0.7)), url(/assets/service3.png);
}
.social-block-bg{
  background: linear-gradient(rgba(242, 156, 47, 0.7), rgba(242, 156, 47, 0.7)), url(/assets/service4.png);
}
.margin-top-3-percent{
  margin-bottom:3%;
}

/* Our Process */
.step {
  flex:1;
  width:100%;
  margin: auto;
  margin-bottom:40px;
  display: flex;
}
.step-content {
  width: 75%;
  //background: lightcyan;
}
.step-head {
  width: 25%;
  //background: pink;
}

@media screen and (max-width:768px) {
  .step {
    width: 100%;
    flex-direction: column;
    order:-1;
  }
  .step-head, .step-content {
    flex:1;
    width: 100%;
  }
  .step-head {
    //flex: 0 0 150px;
    //flex: 0;
  }
}