<p>
  <table style="width:644px;border-spacing:0 10px; background-color:#ffffff; font-size:10px; color: #ccc; font-family: Arial, sans-serif; padding-left: 20px; padding-right:20px; text-align: justify">
    <tr>
      <td>
        <p style="text-align: right;">
          <a href="http://www.peppermintymarketing.co.uk">
            <%= image_tag 'logo.png', height:'50px' %>
          </a>
          <br/>
          All Rights Reserved.
        </p>
        <p>
          Powered by Pepperminty Marketing
        </p>
      </td>
    </tr>
  </table>
</p>