<table style="width:644px; border-spacing:0 5px; background-color: #fff; font-size:11px; color: #ccc; font-family: Arial, sans-serif; padding:20px; text-align: justify">
  <tr>
    <td>
      <a href="http://www.peppermintymarketing.co.uk">
        <%= image_tag 'logo.png' %>
      </a>
    </td>
  </tr>
</table>