<p class="text-center">
  <h3 class="footer-heading margin-bottom-20" style="font-weight: 400;">PEPPERMINTY MARKETING</h3>
</p>
<p class="text-center margin-bottom-20 links">
  <a href="mailto:hello@peppermintymarketing.co.uk"><span class="glyphicon glyphicon-envelope"></span> hello@peppermintymarketing.co.uk</a>
  <span>|</span>
  <%= link_to "Privacy Policy", privacy_policy_path %>
  <span>|</span>
  <%= link_to "Cookie Policy", cookie_policy_path %>
</p>
<p class="text-center links">
  <span>Copyright © 2018 Pepperminty Limited. All Rights Reserved.</span>
</p>
<p class="text-center">
  <a href="https://twitter.com/PeppermintyHQ" target="_blank" class="fa fa-twitter"></a>
  <a href="https://www.facebook.com/peppermintyHQ/" target="_blank" class="fa fa-facebook"></a>
  <a href="https://www.instagram.com/pepperminty_marketing/" target="_blank" class="fa fa-instagram"></a>
  <a href="https://www.linkedin.com/company/pepperminty/" target="_blank" class="fa fa-linkedin"></a>
</p>