<%# navigation styled for Bootstrap 4.0 %>
<header class="header">
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation" id="navbar-custom-theme">
      <div class="container topnav">

        <div class="navbar-header">
          <a class="navbar-brand" href="/">
          <span class="nav-image-logo">
            <span class="glyphicon glyphicon-leaf main-color"></span>
            <a class="navbar-brand" href="#"><span class="main-color">Pepperminty Marketing</span></a>
          </span>
          </a>
        </div>

        <ul class="nav navbar-toggleable navbar-nav navbar-right">
          <%= render 'layouts/navigation_links' %>
        </ul>

      </div>
    </nav>

</header>