<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Home', page_path('home') %></li>
<li class='nav-item'><%= link_to 'Services', page_path('services') %></li>
<li class='nav-item'><%= link_to 'Contact', page_path('contact') %></li>
